.support-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.support-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00695c;  /* Color verde azulado oscuro, relacionado con tecnología */
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.support-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.support-card {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 16px;
  background-color: #f1f8e9;  /* Color claro */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Borde negro suave */
}

.support-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Aumentar la sombra al pasar el mouse */
  border: 1px solid rgba(0, 0, 0, 0.5); /* Borde más visible al hacer hover */
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #004d40; /* Verde oscuro */
}

mat-card-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

mat-card-actions button {
  margin-top: 10px;
  background-color: #00796b;  /* Verde azulado */
  color: white;
}

.input-field {
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.social-icons mat-icon {
  font-size: 30px;
  color: #00796b;
  transition: color 0.3s ease;
}

.social-icons mat-icon:hover {
  color: #004d40;
}

@media (max-width: 768px) {
  .support-card {
    max-width: 100%;
    margin: 10px 0;
  }
}
