<div class="dashboard-container">
  <aside class="sidebar">
    <img src="assets/images/parkingnow.png" alt="ParkingNow Logo" class="logo">
    <nav class="menu">
      <button mat-button routerLink="/dashboard-driver" class="menu-item">{{ 'SIDEBAR.HOME' | translate }}</button>
      <button mat-button routerLink="/reservations" class="menu-item">{{ 'SIDEBAR.RESERVATIONS' | translate }}</button>
      <button mat-button routerLink="/support" class="menu-item">{{ 'SIDEBAR.SUPPORT' | translate }}</button> <!-- Redirección agregada -->
      <button mat-button routerLink="/vehicle-tracking" class="menu-item">{{ 'SIDEBAR.TRACKING_AND_ALARMS' | translate }}</button>
      <button mat-button routerLink="/settings" class="menu-item">{{ 'SIDEBAR.SETTINGS' | translate }}</button>
      <button mat-button routerLink="/notifications" class="menu-item">{{ 'SIDEBAR.NOTIFICATIONS' | translate }}</button>
      <button mat-button routerLink="/login" class="menu-item">{{ 'SIDEBAR.LOGOUT' | translate }}</button>
    </nav>
  </aside>

  <main class="content">
    <div class="welcome">
      <h1>{{ 'DASHBOARD.WELCOME' | translate }}</h1>
    </div>

    <section class="favorites-offers-container">
      <mat-card class="card">
        <h2>{{ 'DASHBOARD.FAVORITE_PLACES' | translate }}</h2>
        <p>{{ 'DASHBOARD.FAVORITE_PLACES_DESC' | translate }}</p>
      </mat-card>

      <mat-card class="card">
        <h2>{{ 'DASHBOARD.WEEKLY_OFFERS' | translate }}</h2>
        <p>{{ 'DASHBOARD.WEEKLY_OFFERS_DESC' | translate }}</p>
      </mat-card>
    </section>

    <section class="map-container">
      <h2>{{ 'DASHBOARD.RESERVE_NOW' | translate }}</h2>
      <div id="map" style="height: 400px;"></div>
    </section>
  </main>
</div>
