<div class="local-records-container">
  <!-- Botones de Inicio y Cambio de Idioma -->
  <div class="header-buttons">
    <button mat-stroked-button color="primary" class="back-button" routerLink="/dashboard-owner">
      {{ 'LOCAL_RECORDS.BACK_TO_HOME' | translate }}
    </button>
    <button mat-stroked-button color="accent" class="language-switch" (click)="switchLanguage()">
      {{ currentLanguage }}
    </button>
  </div>

  <mat-card class="header-card">
    <h1>{{ 'LOCAL_RECORDS.WELCOME' | translate }}</h1>
    <p>{{ 'LOCAL_RECORDS.MANAGE_RECORDS' | translate }}</p>
  </mat-card>

  <div class="cards-section">
    <mat-card class="card animate-card">
      <h2>{{ 'LOCAL_RECORDS.TITLE' | translate }}</h2>
      <p>{{ 'LOCAL_RECORDS.RECORDS' | translate }}</p>
    </mat-card>

    <mat-card class="card animate-card">
      <h2>{{ 'LOCAL_RECORDS.STATISTICS' | translate }}</h2>
      <p>{{ 'LOCAL_RECORDS.STATISTICS_DESC' | translate }}</p>
    </mat-card>
  </div>
</div>
