<div class="forgot-password-container">
  <mat-card class="forgot-password-card">
    <img src="../../../../../assets/images/parkingnow.png" alt="ParkingNow Logo" class="logo">
    <h2>{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h2>
    <p class="subtitle">{{ 'FORGOT_PASSWORD.SUBTITLE' | translate }}</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'FORGOT_PASSWORD.EMAIL' | translate }}</mat-label>
        <input matInput formControlName="email" type="email" placeholder="{{ 'FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate }}">
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched">
          {{ 'FORGOT_PASSWORD.REQUIRED_FIELD' | translate }}
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched">
          {{ 'FORGOT_PASSWORD.INVALID_EMAIL' | translate }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="send-button" type="submit">{{ 'FORGOT_PASSWORD.SUBMIT' | translate }}</button>
    </form>

    <a routerLink="/sign-in" class="return-link">{{ 'FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}</a>

    <!-- Language Switcher -->
    <div class="language-switcher">
      <button mat-button (click)="switchLanguage('en')">English</button>
      <button mat-button (click)="switchLanguage('es')">Español</button>
    </div>
  </mat-card>
</div>
