<div class="local-records-container">
  <!-- Botón de Inicio -->
  <button mat-stroked-button color="primary" class="back-button" routerLink="/dashboard-owner">
    Inicio
  </button>

  <mat-card class="header-card">
    <h1>Bienvenido</h1>
    <p>Gestiona tus locales y estadísticas fácilmente.</p>
  </mat-card>

  <div class="cards-section">
    <mat-card class="card animate-card">
      <h2>Registro de Locales</h2>
      <p>Locales registrados y su calificación.</p>
    </mat-card>

    <mat-card class="card animate-card">
      <h2>Estadísticas</h2>
      <p>Estadísticas de reservas pasadas, usuarios, tiempo de reservas.</p>
    </mat-card>
  </div>
</div>
