<div class="dashboard-container">
  <aside class="sidebar">
    <img src="../../../../assets/images/parkingnow.png" alt="ParkingNow Logo" class="logo">
    <nav class="menu">
      <button mat-button routerLink="/dashboard-driver" class="menu-item">{{ 'SIDEBAR.HOME' | translate }}</button>
      <button mat-button routerLink="/reservations" class="menu-item">{{ 'SIDEBAR.RESERVATIONS' | translate }}</button>
      <button mat-button routerLink="/support" class="menu-item">{{ 'SIDEBAR.SUPPORT' | translate }}</button>
      <button mat-button routerLink="/vehicle-tracking" class="menu-item">{{ 'SIDEBAR.TRACKING_AND_ALARMS' | translate }}</button>
      <button mat-button routerLink="/settings" class="menu-item">{{ 'SIDEBAR.SETTINGS' | translate }}</button>
      <button mat-button routerLink="/notifications" class="menu-item">{{ 'SIDEBAR.NOTIFICATIONS' | translate }}</button>
      <!-- Cerrar sesión con lógica para redirigir al login -->
      <button mat-button class="menu-item" (click)="logout()">{{ 'SIDEBAR.LOGOUT' | translate }}</button>
    </nav>
  </aside>

  <main class="content">
    <div class="welcome">
      <h1>{{ 'DASHBOARD.WELCOME' | translate }}</h1>
    </div>

    <div class="language-switcher">
      <button mat-button (click)="setLanguage('es')">Español</button>
      <button mat-button (click)="setLanguage('en')">English</button>
    </div>

    <section class="favorites-offers-container">
      <mat-card class="card card-favorite">
        <h2>{{ 'DASHBOARD.FAVORITE_PLACES' | translate }}</h2>
        <p>{{ 'DASHBOARD.FAVORITE_PLACES_DESC' | translate }}</p>
      </mat-card>

      <mat-card class="card card-offers">
        <h2>{{ 'DASHBOARD.WEEKLY_OFFERS' | translate }}</h2>
        <p>{{ 'DASHBOARD.WEEKLY_OFFERS_DESC' | translate }}</p>
      </mat-card>
    </section>

    <section class="map-container">
      <h2>{{ 'DASHBOARD.RESERVE_NOW' | translate }}</h2>
      <div class="google-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249744.04473498397!2d-77.15258799728015!3d-12.026254178854803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c5f619ee3ec7%3A0x14206cb9cc452e4a!2sLima!5e0!3m2!1ses-419!2spe!4v1731868013046!5m2!1ses-419!2spe"
          width="100%"
          height="450"
          style="border:0; border-radius: 12px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </section>
  </main>
</div>
